<section class="container m-5">
  <p style="color: green"><%= notice %></p>

  <p class="text-xl-center fs-3">
  </p>

  <p class="mx-5 px-5">
  </p>

  <div class="d-flex justify-content-evenly m-5">
    <%= button_to "Destroy this article", @article, method: :delete, class: 'btn btn-outline-danger' %>
    <%= link_to "Back to articles", articles_path, class: 'btn btn-outline-primary' %>
  </div>
</section>
